.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: 'Roboto', sans-serif;
  background: #19202f no-repeat center center fixed;
  background-size: cover;
}
.main-section{
  margin: 0 auto;
  margin-top: 130px;
  padding: 0;
  height:200px;
  width:500px;
}
.modal-content{
  background-color: #3b4652;
  opacity: .90;
  padding: 0 18px;
  box-shadow: 0px 0px 7px #848484;
}
.user-img{
  margin-top: -50px;
  margin-bottom: 35px;
}
.user-img img{
  height: 150px;
  width: 180px;
  /* border-radius: 5px;
  box-shadow: 0px 0px 5px #848484; */
}
.form-group{
  margin-bottom: 25px;
}
.form-group input{
  height: 42px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  padding-left: 54px;
}
.form-group::before{
  font-family: 'Font Awesome\ 5 Free';
  content:"\f007";
  position: absolute;
  font-size: 22px;
  color: #555e60;
  left:28px;
  padding-top: 4px;
}
button{
  width: 40%;
  margin: 5px 0 25px;
}
.btn{
  background-color: #18202b;
  color: #fff;
  font-size: 19px;
  padding: 7px 14px;
  border-radius: 5px;
  border-bottom: 4px solid #2e6061;
}
.btner{
  background-color: #18202b;
  color: #fff;
  font-size: 19px;
  padding: 7px 14px;
  border-radius: 5px;
  border-bottom: 4px solid #2e6061;
}
.btn:hover, .btn:focus{
  background-color: #091112!important;
  border-bottom: 4px solid #091112!important;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 600px;
	justify-content: space-evenly;
	margin: 3% auto;
	background-color: #242333;
	border-radius: 10px;
	color: #464159;
}
.text-white{
  text-decoration: none;
}
.text-white:hover{
text-decoration: underline;
cursor: pointer;
}
.hidden{
  visibility: hidden;
}
.button{
  display: flex;
  height: 50%;
  width: 30%;
  justify-content: center;
}
.button a{
  width: 100%;
  max-width: 240px;
  height: 54px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff4655;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
}
.button a.white:hover > p {
  color: #ece8e1;
}
.button a.white > p {
  background: #ece8e1;
  color: #0f1923;
}
.button a.white > p span.base {
  border: 1px solid transparent;
}
.button a.transparent:hover > p {
  color: #ece8e1;
}
.button a.transparent:hover > p span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}
.button a.transparent > p {
  background: #0f1923;
  color: #ece8e1;
}
.button a.transparent > p span.base {
  border: 1px solid #ece8e1;
}

.button a:after, div a:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.button a:before {
  right: 0;
  left: initial;
}

.button a p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.button a p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #ff4655;
}

.button a p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
}
.button a p span.bg {
  left: -5%;
  position: absolute;
  background: #ff4655;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
.button a p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.button a p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.button a:hover {
  color: #ece8e1;
}
.button a:hover span.bg {
  width: 110%;
}
.button a:hover span.text:after {
  background: #ece8e1;
}
.label{
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
}
.category{
  width: 150px;
  height:25px;
  margin-top:10px;
  margin-bottom: 12px;;
}
* {
  margin: 0;
  padding: 0%;
}
.container {
  height: 100%;
  width: 100%;
  background-position:center;
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar {
  width: 100%;
  height: 70px;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 160px;
  border-color: rgba(129, 96, 221);
  margin-top:100px;
  padding: 10px;
  box-shadow: 10px 10px 10px rgb(10, 107, 140);
}
.former
{
  box-shadow: 5px 5px 5px rgb(10, 107, 140);
}
.search-bar input {
  background: transparent;
  flex: 1;
  padding: 24px 20px;
  font-size: 20px;
  color: #cccc;
  outline: none;
  border: none;
}
.search-bar input:focus{
  outline: none;
  border: none;
}
::placeholder {
  color: whitesmoke;
  margin-top: 15px;
}
.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.doctor-card {
  max-width: 1200px;
  background: #fff;
  border-radius: 10px;
  margin: auto;
  margin-bottom:40px ;
  box-shadow: 10px 10px 10px lightblue;
  position: relative;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
}
.doctor-card .info {
  padding: 15px;
  display: grid;
  grid-template-columns: 90px auto;
}
.doctor-card .info .avatar {
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: 3px;
  margin-top: 5px;
}
.doctor-card .info .avatar img {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}
.doctor-card .info .details {
  align-self: center;
  padding: 10px 0;
}
.doctor-card .info .details .name {
  font-size: 18px;
  line-height: 1;
  padding: 2px 0;
  font-weight: 400;
}
.doctor-card .info .details .meta-info {
  padding: 2px 0;
  color: #787878;
  line-height: 16px;
  font-weight: 400;
}
.doctor-card .info .details .meta-info .prac-area:not(:empty)::before, .doctor-card .info .details .meta-info .exp-yr:not(:empty)::before {
  content: "|";
  padding: 10px;
}
@media (max-width: 575px) {
  .doctor-card .info {
    grid-template-columns: 1fr;
    justify-items: center;
 }
  .doctor-card .info .details {
    text-align: center;
 }
  .doctor-card .info .details .meta-info {
    padding: 5px;
 }
  .doctor-card .info .details .meta-info .exp-yr {
    display: block;
 }
  .doctor-card .info .details .meta-info .exp-yr:not(:empty) {
    margin-top: 5px;
 }
  .doctor-card .info .details .meta-info .exp-yr:not(:empty)::before {
    content: none;
 }
}
.doctor-card .actions {
  margin: 0 15px 15px;
  display: table;
  width: calc(100% - 30px);
  border-collapse: collapse;
  border-radius: 3px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #f6f7f8;
}
.doctor-card .actions > div {
  text-align: center;
  padding: 0;
  display: table-cell;
  border: 1px solid #f2f2f2;
  vertical-align: middle;
  height: 64px;
}
.doctor-card .actions .ratings {
  width: 24%;
}
.doctor-card .actions .ratings .rating-control {
  display: block;
}
.doctor-card .actions .ratings .rating-control .fa {
  font-size: 18px;
  color: #ffdc40;
}
.doctor-card .actions .ratings .rating-count {
  font-size: 12px;
  text-transform: uppercase;
  color: #898989;
}
.doctor-card .actions .comments {
  width: 23%;
}
.doctor-card .actions .comments .comment-count {
  font-size: 12px;
  text-transform: uppercase;
  color: #898989;
}
.doctor-card .actions .comments .comment-count strong {
  display: block;
  color: #0081e0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.doctor-card .actions .consultation {
  width: 23%;
}
.doctor-card .actions .consultation .fee {
  font-size: 12px;
  text-transform: uppercase;
  color: #898989;
}
.doctor-card .actions .consultation .fee strong {
  display: block;
  color: #0081e0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.doctor-card .actions .appo {
  width: 10%;
}

.doctor-card .actions .appo .btnr {
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 15px;
  margin: 0 5px;
}
.doctor-card .actions .appo .btn {
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 15px;
  margin: 0 5px;
}

@media (max-width: 575px) {
  .doctor-card .actions > div {
    display: block;
    padding: 10px;
    height: auto;
 }
  .doctor-card .actions > div.comments, .doctor-card .actions > div.consultation {
    width: 50%;
    display: inline-block;
 }
  .doctor-card .actions > div.ratings, .doctor-card .actions > div.appo {
    width: 100%;
 }
}
.doctor-card .locations {
  padding: 15px 15px 20px;
  border-top: 1px solid #f6f7f8;
  border-radius: 0 0 2px 2px;
  line-height: 1;
  font-size: 12px;
  color: #898989;
  font-weight: 400;
  text-transform: capitalize;
}
@media (max-width: 575px) {
  .doctor-card .locations {
    text-align: center;
 }
}
.doctor-card.hoverable:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.doctor-card.certified::after {
  content: '';
  background: url('//via.placeholder.com/100') no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}
@media (max-width: 575px) {
  .doctor-card {
    padding: 10px;
 }
}
.doctor-card + .doctor-card {
  margin-top: 1rem;
}
.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
.user-form {
  z-index: 100;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  /* padding-top: 4rem; */
  background: rgba(100, 100, 100);
}

.user-form form {
  width: 70%;
  height: 70%;
  margin: auto;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  background: rgba(100, 100, 100, 0.1);
}

.pop
{
  font-family: sans-serif;
  text-align: center;
}
